[Unit]
Description=Corky signing session
Requires=corky-bitcoind.service
After=corky-bitcoind.service
RequiresMountsFor=/run/corky

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/corky/corky/main.py --datadir=/run/corky
Restart=on-failure
RestartSec=2
User=root

[Install]
WantedBy=multi-user.target
